<div class="pub">
  <div class="year">{{ include.pub.year }}</div>
  <div>
    <div class="title">{{ include.pub.title }}</div>
    <div class="authors">{% if include.pub.authors %}{% for author in include.pub.authors %}{% if author == site.me_name %}<span class="me">{{ author }}</span>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% else %}{{ include.pub.byline }}{% endif %}</div>
    <div class="venue">{{ include.pub.venue }}</div>
    {% if include.pub.links %}<div class="links">{% for link in include.pub.links %}<a href="{{ link.url }}">{{ link.label }}</a>{% endfor %}</div>{% endif %}
  </div>
</div>
